# AStyle original file backup #
###############################
*.orig

# Windows Executables         #
###############################
*.exe
*.dll

# Compressed Files            #
###############################
*.tar.gz
*.tar.bz2
*.zip

# Android local properties    #
###############################
local.properties

# Compilation and Build Files #
###############################
*.sln
*.vcxproj
*.vcxproj.filters
*.o
*.obj
*.lib
*.tlog

# Externals                   #
###############################
irrlicht-1.8.1.zip
irrlicht-1.8.1

# Possible Build directories  #
###############################
x64
x32
codeblocks
